/* --------- */
/* css reset */
/* --------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scrollbar-gutter: stable;
}

body {
  line-height: 1.7;
  text-rendering: optimizeSpeed;
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr;
}

img,
picture,
svg,
video {
  display: block;
  max-width: revert;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------- */
/* custom properties */
/* ----------------- */
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

  /* layout */
  --gap: 2rem;
  --underline-gap: 1.5em;
  --flow-space: 2rem;
  --container-padding: 4em;
  --container-max-width: 80rem;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* --------------- */
/* utility vlasses */
/* --------------- */
/* layout */
.flex {
  display: flex;
  gap: var(--gap, 1em);
}
.justify-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.col {
  width: 100%;
}
.grid {
  display: grid;
  gap: var(--gap, 1em);
}
.d-block {
  display: block;
}
[hidden] {
  display: none !important;
}

/* .flow > *:where(:not(:first-child)) */
.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding-inline: var(--container-padding, 2em);
  max-width: var(--container-max-width, 80rem);
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  width: 100%;
  text-align: center;
  padding: 0.5em 1em;
  transform: translateY(-100%);

  transition: all 200ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}
.text-dark {
  color: hsl(var(--clr-dark));
}
.text-gray {
  color: hsl(var(--clr-white) / 0.5);
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */
.text-center {
  text-align: center;
}
.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}
.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}
.uppercase {
  text-transform: uppercase;
}
.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* numbered-title */
.numbered-title {
  font-size: var(--fs-500);
  font-family: var(--ff-sans-cond);
  text-transform: uppercase;
  letter-spacing: 4.75px;
}
.numbered-title span {
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
  margin-right: 0.5em;
}

/* ---------- */
/* Components */
/* ---------- */
/* large-button */
.large-button {
  font-size: 2rem;
  display: inline-grid;
  place-content: center;
  z-index: 1;
  padding: 0 2em;
  aspect-ratio: 1;
  margin: 2em;
  text-decoration: none;
  border-radius: 50%;
  position: relative;
}
.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: hsl(var(--clr-white) / 0.15);
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0;
  transition: transform 400ms ease-in-out, opacity 400ms linear;
}
.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

/* primary-header */
.logo {
  margin: 0 clamp(1.5rem, 5vw, 3.5rem);
}
@media (max-width: 35em) {
  .logo {
    margin-top: 3rem;
  }
}
.primary-header {
  justify-content: space-between;
  align-items: center;
}

/* primary-navigation */
.primary-navigation {
  --gap: clamp(1.5rem, 7vw, 5.5rem);
  --underline-gap: 1.5em;
  background-color: hsl(var(--clr-dark) / 0.95);
}
.mobile-nav-toggle {
  display: none;
}
.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}
.primary-navigation li,
.primary-navigation a {
  padding-block: var(--underline-gap, 1.5em);
}
@supports (backdrop-filter: blur(1.5rem)) {
  .primary-navigation {
    background-color: hsl(var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
  }
}
@media (max-width: 35em) {
  .primary-navigation {
    --underline-gap: 0.5em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 20%;
    padding: min(25rem, 18vh) 3rem;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 300ms ease-in-out;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }
  .primary-navigation.underline-indicators > .active {
    --underline-gap: 0.5em;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 3.5rem;
    background: transparent;
    background-image: url("./assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    aspect-ratio: 1;
    border: 0;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("./assets/shared/icon-close.svg");
  }
  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
  }
}
@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(2rem, 7vw, 12rem);
  }
}
@media (min-width: 35em) and (max-width: 45em) {
  .primary-navigation {
    --underline-gap: 1em;
  }
  .primary-navigation a > span {
    display: none;
  }
}
@media (min-width: 45em) {
  .primary-navigation {
    margin-block: 2rem;
  }
  .primary-header {
    position: relative;
  }
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    z-index: 10;
    height: 1px;
    background-color: hsl(var(--clr-white) / 0.25);
    width: 100%;
    margin-right: -4rem;
    order: 1;
  }
  nav {
    order: 2;
  }
}

/* tab-list */
.tab-list {
  gap: 1.5em;
}
.tab-list > button {
  padding-block: 0.5em;
  background: transparent;
}

/* underline-indicators */
.underline-indicators > * {
  border: 0;
  cursor: pointer;
  border-bottom: 2px solid hsl(var(--clr-white) / 0);
}
.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-bottom: 2px solid hsl(var(--clr-white) / 0.5);
}
.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-white) / 1);
  border-bottom: 2px solid hsl(var(--clr-white) / 1);
}
@media (hover: hover) {
  .underline-indicators > *:hover {
    border-color: hsl(var(--clr-white) / 0.5);
  }
}

/* dot-indicators */
.dot-indicators > * {
  aspect-ratio: 1;
  padding: 0.5em;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: hsl(var(--clr-white) / 0.25);
}
.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white) / 0.5);
}
.dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white) / 1);
}

/* number-indicators */
.number-indicators > * {
  display: grid;
  place-content: center;
  aspect-ratio: 1;
  padding: 1.5em;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  border: 1px solid hsl(var(--clr-white) / 0.25);
}
.number-indicators > *:hover,
.number-indicators > *:focus {
  border: 1px solid hsl(var(--clr-white) / 0.5);
}
.number-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  border: 1px solid hsl(var(--clr-white) / 1);
}

/* --------------------- */
/* Page specific styling */
/* --------------------- */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  overflow-x: hidden;
}

.background {
  background-size: cover;
  background-position: bottom center;
}

.home {
  background-image: url("/assets/home/background-home-mobile.jpg");
}
.destination {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
}
.crew {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
}
.technology {
  background-image: url("/assets/technology/background-technology-mobile.jpg");
}

@media (min-width: 35em) {
  .home {
    background-image: url("/assets/home/background-home-tablet.jpg");
  }
  .destination {
    background-image: url("/assets/destination//background-destination-tablet.jpg");
  }
  .crew {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
  }
  .technology {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
  }
}

@media (min-width: 45em) {
  .home {
    background-image: url("/assets/home/background-home-desktop.jpg");
  }
  .destination {
    background-image: url("/assets/destination//background-destination-desktop.jpg");
  }
  .crew {
    background-image: url("/assets/crew/background-crew-desktop.jpg");
  }
  .technology {
    background-image: url("/assets/technology/background-technology-desktop.jpg");
  }
}

/* ------ */
/* Layout */
/* ------ */
.grid-container {
  display: grid;
  place-items: center;
  text-align: center;
  margin-inline: 1rem;
  padding-bottom: 3rem;
}
.grid-container p {
  max-width: 45ch;
}

/* destination layout */
.grid-container-destination {
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}
.grid-container-destination > .numbered-title {
  grid-area: title;
}
.grid-container-destination > picture {
  grid-area: image;
  max-width: 60%;
  align-self: start;
}
.grid-container-destination > .tab-list {
  grid-area: tabs;
}
.grid-container-destination > .destination-info {
  grid-area: content;
}
.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsl(var(--clr-white) / 0.15);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}
.destination-meta p {
  font-size: 1.75rem;
}

/* crew layout */
.grid-container-crew {
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}
.grid-container-crew > .numbered-title {
  grid-area: title;
}
.grid-container-crew > .dot-indicators {
  grid-area: tabs;
}
.grid-container-crew > picture {
  grid-area: image;
  max-width: 60%;
  border-bottom: 1px solid hsl(var(--clr-white) / 0.1);
}
.grid-container-crew > .crew-details {
  grid-area: content;
}

/* technology layout */
.grid-container-technology {
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}
.grid-container-technology > .numbered-title {
  grid-area: title;
}
.grid-container-technology > .number-indicators {
  grid-area: tabs;
}
.grid-container-technology > picture {
  grid-area: image;
}
.grid-container-technology > .technology-info {
  grid-area: content;
}

/* media queries */
@media (min-width: 35em) {
  .numbered-title {
    justify-self: start;
    margin-top: 2rem;
  }
  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .grid-container-crew {
    padding-bottom: 0;
    grid-template-areas:
      "title"
      "content"
      "tabs"
      "image";
  }
}
@media (min-width: 45em) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0px, 40rem)) minmax(
        1rem,
        1fr
      );
  }
  .grid-container-home > *:first-child {
    grid-column: 2;
  }
  .grid-container-home > *:last-child {
    grid-column: 3;
  }
  .grid-container-home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
  .grid-container-destination {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      ". title title ."
      ". image tabs ."
      ". image content .";
  }
  .grid-container-destination > picture {
    max-width: 90%;
  }
  .destination-meta {
    --gap: min(5vw, 6rem);
    justify-content: start;
  }
  .grid-container-crew {
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(
        1rem,
        1fr
      );
    justify-items: start;
    grid-template-areas:
      ". title title ."
      ". content image ."
      ". tabs image .";
  }
  .grid-container-crew > .dot-indicators {
    align-self: start;
  }
  .grid-container-crew > picture {
    grid-column: span 2;
    align-self: end;
    max-width: 90%;
  }

  .grid-container-technology {
    grid-template-columns:
      minmax(1rem, 1fr) minmax(0, 7rem) minmax(0, 30rem) minmax(0, 23rem)
      minmax(1rem, 1fr);
    justify-items: start;
    grid-template-areas:
      ". title title title ."
      ". tabs content image ."
      ". tabs content image .";
  }
  .grid-container-technology > .number-indicators {
    flex-direction: column;
  }
  .grid-container-technology > picture {
    grid-column: span 2;
    justify-self: end;
    max-width: 90%;
  }
  #launch-vehicle-picture img {
    content: url("./assets/technology/image-launch-vehicle-portrait.jpg");
  }
  #spaceport-picture img {
    content: url("./assets/technology/image-spaceport-portrait.jpg");
  }
  #space-capsule-picture img {
    content: url("./assets/technology/image-space-capsule-portrait.jpg");
  }
}
